<!doctype html>
<head>
<title>Github Users</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <section class = "hero is-small is-link">
        <div class = "hero-body has-text-centered">
        <h1 class = "title is-size-4">Github Users</h1>
    </div>
    </section>
        <div class="table-container" style = "padding: 0.9rem;">
            <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>
        <span>ID</span>
        <a href="{{ url_for('index', sort='id', direction='asc')}}">
        <span class="icon is-small is-pulled-right">
          <i class="fas fa-chevron-up" aria-hidden="true"></i>
        </span>
        <a href="{{ url_for('index', sort='id', direction='desc')}}">
        <span class="icon is-small is-pulled-right">
          <i class="fas fa-chevron-down" aria-hidden="true"></i>
        </span>
      </a>
    </th>
    <th>
        <span>Username</span>
        <a href="{{ url_for('index', sort='username', direction='asc')}}">
        <span class="icon is-small is-pulled-right">
          <i class="fas fa-chevron-up" aria-hidden="true"></i>
        </span>
        <a href="{{ url_for('index', sort='username', direction='desc')}}">
        <span class="icon is-small is-pulled-right">
          <i class="fas fa-chevron-down" aria-hidden="true"></i>
        </span>
    </th>
      <th>Image</th>
      <th>
        <span>Type</span>
        <a href="{{ url_for('index', sort='type', direction='asc')}}">
        <span class="icon is-small is-pulled-right">
          <i class="fas fa-chevron-up" aria-hidden="true"></i>
        </span>
        <a href="{{ url_for('index', sort='type', direction='desc')}}">
        <span class="icon is-small is-pulled-right">
          <i class="fas fa-chevron-down" aria-hidden="true"></i>
        </span>
      </th>
     </tr>
  </thead>
  <tbody>
    {% for elem in users %}
    <tr>
      <td>{{ elem[0] }}</td>
      <td>{{ elem[1] }}</td>
      <td>{{ elem[2] }}</td>
      <td>{{ elem[3] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
        </div>
    <footer>
        <div class = "container pl-3 is-flex is-justify-content-center">
        <nav class = "level">
            <div class = "level-left">
                <div class = "level-item">
                <div>
                {{ pagination.links }}
                </div>
            </div>
            </div>
            <div class = "level-right">
                <div class = "level-item pl-4">
                <form method="POST">
                <div class = "is-block">
                    <input class="input" type="text" placeholder="25" name="limit" style = "width: 25%;">
                    <button type="submit" class = "button is-link">Change Result Size</button>
                </div>
            </form>
        </div>
        </div>
        </nav>
           <div>

    </footer>
</body>
